<Project DefaultTargets="Build" ToolsVersion="4.0"
    xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <Target Name="GeneratePreviewerAssets">
        <CallTarget Targets="Build" />
        <Message
            Text="ProjectRuntimeConfigFilePath=$(ProjectRuntimeConfigFilePath)"
            Importance="high" />
        <Message Text="ProjectDepsFilePath=$(ProjectDepsFilePath)"
            Importance="high" />
        <Message Text="PreviewerPath=$(AvaloniaPreviewerNetCoreToolPath)"
            Importance="high" />
        <Message Text="TargetPath=$(TargetPath)" Importance="high" />
    </Target>
</Project>